/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.logo img{
  margin-right: 5%;
  margin-top: 10px;
  max-width: 80%;
  height: auto
}

.button-collapse {
  color: #612525;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section{
  width:100%;
}

.parallax img{
  width: 100%;
  min-width: 600px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.carousel {
  height: 800px;
}
.carousel .carousel-item {
  width: 600px;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.card .card-title {
  font-size: 30px;
  font-weight: bolder;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.white-on-white{
  font-size: 30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.header-white-on-white{
  margin-right: 15%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.tabs .tab a {
    color: #3e2723;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #795548;
}

.tabs .tab a:hover {
    color: #8d6e63;
}

nav {
  color: #fff;
  background-color: #795548;
  height: 75px;
  line-height: 75px;

}

nav i.material-icons {
  font-size: 2rem;

}

@media only screen and (min-width: 601px) {
     nav .nav-wrapper i {
        height: 50px;
        line-height: 50px;
    }
}
 /*social buttons*/
.social {
  text-align: center;
  font-size: 2.5em;
  color: #555;
  overflow: hidden;
}
.social a {
  color: inherit;
  text-decoration: none;
}
.social i {
  margin: .3em;
  cursor: pointer;
  transition: none;
  transform: translateZ(0);
  font-size: 35px;
}
.social i:hover {
  margin-top: -1px;
}
.social i#vk:hover {
  color: #507299;
}
.social i#facebook:hover {
  color: #3b5998;
}
.social i#twitter:hover {
  color: #1da1f2;
}
.social i#bandcamp:hover {
  color: #408ea3;
}

.social i#soundcloud:hover {
  color: #f50;
}
.social i#youtube:hover {
  color: #cc181e;
}

.social i#instagram:hover {
  color: #C42575;
}

i#close {
    color: #555;
    font-size: 35px;
    margin: 10px;
}
i#close:hover {
    color: #d44950;
}
.side-nav {
    width: 250px;
}
.side-nav li > a > i,
.side-nav li > a > [class^="mdi-"], .side-nav li > a > [class*="mdi-"],
.side-nav li > a > i.material-icons {
  float: none;
}

.modal .modal-footer {
    text-align: left;
    height: 65px;
}
.modal .modal-content img{
  width:100%;
  height: auto;
}
